.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

/* Lado izquierdo */
.login-left {
  flex: 1;
  background: #039BE5;
  color: white;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 45px;
  font-weight: 700;
  max-width: 500px;
}

.login-left p {
  margin-top: 20px;
  font-size: 18px;
  max-width: 450px;
}

.login-mockup {
  width: 70%;
  margin-top: 40px;
}

/* Lado derecho */
.login-right {
  flex: 1;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 420px;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.p-inputtext {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Recuerdame */
.remember-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Botones */
.btn-main {
  flex: 1;
  background: #7A59FF !important;
  border: none !important;
}

.btn-sec {
  flex: 1;
  background: #8D8DFF !important;
  border: none !important;
}

.error-text {
  color: red;
  margin-top: 10px;
  text-align: center;
}
